<h3 style="text-align: center;">Product List</h3>

<div class="container">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dairy Milk</td>
                <td>180</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Chips</td>
                <td>30</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Kinder Joy</td>
                <td>50</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Cold Drinks</td>
                <td>60</td>
            </tr>

        </tbody>
    </table>
</div>